<?xml version="1.0"?>
<!--This file is part of RIO - Radar Inertial Odometry and Radar based ego velocity estimation.-->
<!--@author Christopher Doer <christopher.doer@kit.edu>-->

<launch>
    <arg name="dataset_dir" default="$(find radar_ego_velocity_estimation)../demo_datasets/"/>
    <arg name="rosbag" default="ti_mmwave_rospkg_demo.bag"/>
    <arg name="bag_start" default="1.0"/>
    <arg name="bag_duration" default="-1"/>

    <arg name="config" default="params_demo_dataset"/>
    <arg name="calibration" default="$(find ekf_rio)../demo_datasets/calib_ti_mmwave_rospkg_dataset"/>

    <arg name="topic_twist" default="/radar_body_velocity_estimation_node/twist_body"/>
    <arg name="run_without_trigger" default="True"/>

    <node name="radar_body_velocity_estimation_node" pkg="radar_ego_velocity_estimation" type="radar_body_velocity_estimation_rosbag_node" output="screen"
          launch-prefix="bash -c 'sleep 1; $0 $@' ">>
        <param name="rosbag_path" value="$(arg dataset_dir)/$(arg rosbag)" type="string"/>
        <param name="bag_start" value="$(arg bag_start)" type="double"/>
        <param name="bag_duration" value="$(arg bag_duration)" type="double"/>
        <param name="sleep_ms" value="1" type="double"/>

        <rosparam file="$(find radar_ego_velocity_estimation)/config/$(arg config).yaml" command="load"/>
        <rosparam file="$(arg calibration).yaml" command="load" ns=""/>

        <param name="gyro_init_s" value="1.0" type="double"/>
        <param name="run_without_trigger" value="$(arg run_without_trigger)" type="bool"/>
    </node>

    <node name="velocity_estimation_evaluator" pkg="radar_ego_velocity_estimation" type="velocity_estimation_evaluator.py" output="screen"
          required="True">
        <rosparam file="$(arg calibration).yaml" command="load" ns=""/>
        <param name="topic_v_b" value="$(arg topic_twist)" type="string"/>
    </node>
</launch>
